{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/bulma.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/bulma.min.css' %}">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!DOCTYPE html>
<body>
<nav class="navbar is-white topNav">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="../">
                <p>ReiseNet!</p>
            </a>
            <div class="navbar-burger burger" data-target="topNav">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
        <div id="topNav" class="navbar-menu">
            <div class="navbar-start">
                <a class="navbar-item" href="cover.html">Home</a>
                <a class="navbar-item" href="landing.html">Landing</a>
                <a class="navbar-item" href="blog.html">Blog</a>
                <a class="navbar-item" href="instaAlbum.html">Album</a>
                <a class="navbar-item" href="kanban[search].html">Kanban</a>
                <a class="navbar-item" href="search.html">Search</a>
                <a class="navbar-item" href="tabs.html">Tabs</a>
            </div>
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field is-grouped">
                        <p class="control">
                            <a class="button is-small">
                                <span class="icon">
                                    <i class="fa fa-user-plus"></i>
                                </span>
                                <span>
                                    Register
                                </span>
                            </a>
                        </p>
                        <p class="control">
                            <a class="button is-small is-info is-outlined">
                                <span class="icon">
                                    <i class="fa fa-user"></i>
                                </span>
                                <span>Login</span>
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>
<section class="container">
   {% block content %}
   {% endblock %}
</section>
<footer class="footer">
    <div class="container">
        <div class="content has-text-centered">
            <div class="columns is-mobile is-centered">
                <div class="field is-grouped is-grouped-multiline">
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-link" href="https://github.com/dansup/bulma-templates">Bulma Templates</a>
                            <span class="tag is-light">Daniel Supernault</span>
                        </div>
                    </div>
                    <div class="control">
                        <div class="tags has-addons">
                            <a class="tag is-link">The source code is licensed</a>
                            <span class="tag is-light">MIT &nbsp;<i class="fa fa-github"></i></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<script async type="text/javascript" src="../js/bulma.js"></script>
</body>